*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.link-source {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 13px;
  text-decoration: none;
}

.link-source:hover,
.link-source:focus {
  color: #07f;
}