*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #f1f4f8;
}

.wrapper {
  display: flex;
  margin: 40px auto 0;
  width: 80%;
}

.wrapper form {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  margin: 1px 0;
}

/* form group */
.form-group {
  width: 100%;
  position: relative;
  margin: 0 8px;
  flex: 1;
}

.row .form-group:first-child {
  margin-left: 0;
}

.row .form-group:nth-last-child(1) {
  margin-right: 0;
}

.form-group--card-number {
  flex: 2 0 calc(50% - 8px);
  max-width: calc(50% - 8px);
}

.form-group label {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #a3b2c6;
  height: 48px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

input:not(:placeholder-shown) ~ label,
input:focus ~ label,
.form-group--expiry-date label,
.form-group.is-dirty label,
.form-group.is-focussed label {
  font-size: 12px;
  transform: translateY(-18px);
}

.form-input {
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.form-input,
.mollie-component {
  width: 100%;
  position: relative;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid #677c96;
  font-weight: 500;
  margin-bottom: 16px;
}

.mollie-component::after {
  transition: 0.5s width cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #3a4;
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0%;
  left: 0;
  border-bottom: 1px solid #ce0000;
}

.mollie-component.is-invalid::after {
  width: 100%;
}

.form-group.is-touched.is-valid .field-error {
  padding: 0;
}

.form-group.is-touched .field-error {
  color: #ce0000;
  font-weight: 400;
  padding: 1px 0;
  font-size: 10px;
  position: absolute;
  transform: translateY(-16px);
}

button.submit-button {
  width: 100%;
  padding: 14px;
  color: #162941;
  font-weight: 600;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 0;
  transition: 0.3s opacity cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #162941;
  background-color: transparent;
}

.form-fields {
  margin-bottom: 24px;
}
