body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
}

.wrapper {
  display: flex;
  margin: 40px auto 0;
  width: 80%;
  max-width: 718px;
}

input {
  color: white;
}

.wrapper form {
  width: 100%;
}

label {
  opacity: 0.6;
  font-size: 18px;
  font-weight: 500;
  color: #173d68;
  padding-bottom: 7px;
  display: block;
}

.mollie-component {
  background: #dfedfa;
  border-radius: 56px;
  padding: 12px 24px;
  border: 1px solid transparent;
  transition: 0.15s border-color cubic-bezier(0.4, 0, 0.2, 1);
  color: #173d68;
}

.mollie-component.has-focus {
  border-color: #8799af;
}

.mollie-component.is-invalid {
  border-color: #ce0000;
  background: rgba(206, 0, 0, 0.2);
}

.mollie-component.is-valid {
  border-color: #dfedfa;
}

.field-error {
  font-size: 10px;
  margin-top: 4px;
  color: #ce0000;
  font-weight: normal;
  padding-left: 24px;
}

button.submit-button {
  width: 100%;
  border: 0;
  border-radius: 100px;
  background: #173d68;
  padding: 18px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 0;
  cursor: pointer;
  transition: 0.3s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

button.submit-button:hover {
  transition: 0.3s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group {
  width: 100%;
  margin: 14px 0 0 0;
  flex: 1 1 20%;
  display: flex;
  width: 100%;
  align-items: center;
}

.form-group.button {
  margin-top: 14px;
}

.form-group > *:first-child {
  flex: 0 0 180px;
}

.form-group > div {
  flex: 1;
}
