.wrapper {
  padding: 10px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.form-group {
  position: relative;
}

/* Position the label over the input field (as if its a placeholder) */
.label {
  position: absolute;
  top: 16px;
  left: 17px;
  color: #888;

  transition: all 0.05s ease;
}

/* Move the label to the top on focus or when the field is dirty */
.form-group.has-focus .label,
.form-group.is-dirty .label {
  top: 6px;
  font-size: 11px;
}

.form-errors,
.field-error {
  margin-top: 8px;
  margin-bottom: 0;
  color: #f00;
  font-size: 13px;
  font-weight: 500;
}

.mollie-component {
  width: 100%;
  padding: 18px 15px 10px;
  color: #222;

  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05);

  transition: all 0.05s ease;
}

.mollie-component.has-focus {
  border-color: #07f;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.mollie-component.is-invalid {
  border-color: #f00;
  background-color: #fff0f0;
}

/* Hide the iframe by default */
.mollie-component iframe {
  opacity: 0;
  transition: all 0.05s ease;
}

/* Show the iframe on focus or when dirty */
.form-group.has-focus .mollie-component iframe,
.form-group.is-dirty .mollie-component iframe {
  opacity: 1;
}

.submit-button {
  display: block;
  width: 100%;
  margin-top: 30px;
  height: 55px;
  border: 0;
  background: #07f;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
}

.submit-button:not(:disabled):hover,
.submit-button:not(:disabled):focus {
  outline: 0;
  background: #0558b8;
}

@media (min-width: 321px) {
  .form-fields {
    grid-template-columns: 1fr 1fr;
  }

  .form-group--cardHolder {
    grid-column: span 2;
  }

  .form-group--cardNumber {
    grid-column: span 2;
  }
}

@media (min-width: 480px) {
  .wrapper {
    padding: 20px;
  }

  .form {
    padding: 40px;
  }
}
